<% if current_user %>

  <% if @sites.any? %>
      <% @sites.each do |site| %>
        <%= erb :site, locals: { site: site } %>
      <% end %>
    <div class="site site--new">
        <h2>Create a new site</h2>
        <%= erb :new_site_form %>
    </div>
  <% else %>
    <div class="site site--new">
        <h2>Create your first site</h2>
        <%= erb :new_site_form %>
    </div>
  <% end %>

  <% if @submissions.any? %>
    <% @submissions.each do |submission| %>
        <%= erb :submission, locals: { submission: submission } %>
    <% end %>
  <% end %>

<% else %>

    <p class="login-prompt">
        <a href="<%= url '/auth/twitter' %>">Log in with Twitter</a>
        to create your first site.
    </p>

<% end %>
