<div class="site site--<% if site.active? %>active<% else %>building<% end %>">
  <% if site.active? %>
    <span class="site__status">Active</span>
    <h2 class="site__name">
        <%= site.name %>
    </h2>
    <% if site.local? %>
      <p class="site__instructions"><%= erb :local_instructions, locals: { site: site } %></p>
    <% end %>
    <p class="site__url">
        <a href="<%= site.url %>">
            <%= site.url %>
        </a>
    </p>
  <% else %>
    <span class="site__status">Building</span>
    <h2 class="site__name">
        <%= site.name %>
    </h2>
  <% end %>

  <form class="site__rebuild" action="<%= url "/sites/#{site.id}/rebuild" %>" method="post">
      <button class="button button--secondary button--small" type="submit">Force rebuild</button>
  </form>

  <% if site.submissions_dataset.pending.any? %>
    <h3>Submissions</h3>
    <% site.submissions.each do |submission| %>
        <%= erb :submission, locals: { submission: submission } %>
    <% end %>
  <% end %>
</div>
